## macOS
.DS_Store

## Xcode
build/
DerivedData/
*.xcuserstate
*.xcscmblueprint
*.xccheckout
xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist

## Swift Package Manager
.build/
Packages/
Package.pins
Package.resolved
.swiftpm/

## CocoaPods / Carthage (si utilisés plus tard)
Pods/
Carthage/Build/
