## OS
.DS_Store

## Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

## Vite
dist/
dist-ssr/
*.local

## TypeScript incremental build
*.tsbuildinfo

## Editors
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
